<div class="alert alert-danger" role="alert" id="isMoveAlert">Ruch!</div>
<div class="alert alert-danger" role="alert" id="isLightAlert">Światło!</div>
<div class="alert alert-info" role="alert">Data pomiaru: {{dataJson.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
